version: '3.8'

services:
  chaos-backend:
    build: .
    ports:
      - "8000:8000"
    environment:
      - CPU_LOAD_DURATION=10
      - MEMORY_MB=100
      - MAX_CONCURRENT_CHAOS=1
      - CHAOS_COOLDOWN_SECONDS=5
      - MAX_LATENCY_MS=500
    networks:
      - monitoring

  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
    ports:
      - "9090:9090"
    networks:
      - monitoring

  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    ports:
      - "3000:3000"
    volumes:
      - ./grafana/provisioning:/etc/grafana/provisioning
      - ./grafana_dashboard.json:/var/lib/grafana/dashboards/chaos/dashboard.json
    environment:
      - GF_SECURITY_ADMIN_USER=admin
      - GF_SECURITY_ADMIN_PASSWORD=admin
      - GF_USERS_ALLOW_SIGN_UP=false
    depends_on:
      - prometheus
    networks:
      - monitoring

networks:
  monitoring:
    driver: bridge
